/* Write your CSS here */

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-container {
  list-style-type: none;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.input-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f9;
  padding: 5px;
}

.input-el {
  border-style: none;
  background-color: transparent;
}

.search-img {
  height: 30px;
}

@media (max-width: 767px) {
  .list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
